:root{
    --primary-clr: black;
    --secondary-clr: dodgerblue;
    --tertiary-clr: lightgreen;
    --background-clr: white;
}
body{
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    font-weight: bold;
}

.popup {
    position: fixed;
    top: -100%;
    max-width: 500px;
    min-height: 100px;
    width: 100%;
    background-color: var(--background-clr);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    z-index: 1000;
    user-select: none;
}

.popup.show {
    top: 0;
}

.popup-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: var(--primary-clr);
}

.close-btn:hover {
    color: var(--secondary-clr);
}
