
body{
    padding: 0;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    text-decoration: none;
    text-align: center;
    color: white;
}
