@import url("global.css");

form.container, form.form{
    background: #00000088;
    backdrop-filter: blur(8px);
    color: var(--background-clr);
    border: 1px solid #ffffff11;
    border-radius: 1rem;
    min-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    user-select: none;
}

form.w500{
    max-width: 500px;
}

form.form h3{
    font-size: 1em;
    text-align: center;
}

h3{
    font-style: italic;
    font-weight: 300;
}


.login-forgot{
    text-align: center;
    margin: 1rem 0;
}