@import url("../global.css");

.bouton {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    padding: 0.134em 0.536em;
    border: 2px solid var(--background-clr);
    border-radius: 4px;
    position: relative;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.16),
        0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--background-clr);
    text-decoration: none;
    background: var(--primary-clr);
    transition: 0.3s ease all;
    z-index: 1;
    cursor: pointer;
    height: 34px;
    outline: none;
}

.bouton:before {
    transition: 0.3s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background: var(--background-clr);
    z-index: -1;
}

.bouton:hover,
.bouton:focus {
    color: var(--primary-clr);
}

.bouton:hover:before,
.bouton:focus:before {
    transition: 0.2s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.bouton:active {
    transform: scale(0.9);
}
