@import url("../global.css");

.bouton a{
    text-decoration: none;
    color: var(--background-clr);
}

.bouton {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    border: 2px solid var(--background-clr);
    border-radius: 4px;
    position: relative;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.16),
        0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--background-clr);
    text-decoration: none;
    background: var(--primary-clr);
    transition: 0.3s ease all;
    z-index: 1;
    cursor: pointer;
    outline: none;
    max-height: 34px;
      padding: 0.4rem 1rem;
  border-radius: 5px;
}



.bouton.green{
    background: var(--tertiary-clr);
}



.bouton:before {
    transition: 0.3s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background: var(--background-clr);
    z-index: -1;
}

.bouton:hover,
.bouton:focus, .bouton:focus a, .bouton:hover a {
    color: var(--primary-clr);
}

.bouton:hover:before,
.bouton:focus:before {
    transition: 0.2s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.bouton:active {
    transform: scale(0.9);
}
