@import url("../global.css");

.input {
    position: relative;
    overflow: visible;
    min-width: 320px;
}


.input input {
    border: none;
    border-bottom: 1px solid var(--background-clr);
    width: 100%;
    padding: 7px 0;
    margin: 1px;
    font-size: 1.2em;
    margin-bottom: 20px;
    outline: none;
    background: transparent;
    color: var(--secondary-clr);
    font-weight: bold;
}


.input input::placeholder {
    opacity: 0;
    transition: 0.2s ease;
}

.input label {
    position: absolute;
    top: 0;
    left: 8px;
    padding: 7px 0;
    font-size: 1.2em;
    color: var(--secondary-clr);
    pointer-events: none;
    transition: 0.23s;
    font-style: italic;
}

.input input[type="date"] {
  background: none;
  font-size: 1.4em;
  transition: background-color 0.3s ease;
  color: transparent;
}

.input input[type="date"]:focus {
  outline: none;
  color: var(--secondary-clr);
}



.input input:focus~label,
.input input:valid~label {
    top: -20px;
    left: 0;
    color: var(--tertiary-clr);
    font-size: 0.8em;
}

.input input:focus::placeholder,
.input input:valid::placeholder {
    opacity: 1;
    font-weight: 800;
}


